
/*  
.flex-container{
    display: flex;
    
}
.flex-item{
    background-color: royalblue;
    color: white;
    padding: 10px;
    margin: 10px;
    }
*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
 height: 120px;

    
}
.flex-item{
    width: 120px;
    background-color: royalblue;
    color: white;
    height: 120px;
margin: 5px;
flex-grow: 1;
min-width: 200px;
}
.flex-item2{
    width: 120px;
    background-color: rgb(225, 65, 65);
    color: white;
    height: 120px;
margin: 5px;
}
.flex-item6{
    width: 120px;
    background-color: rgb(212, 65, 225);
    color: white;
    height: 120px;
margin: 5px;
}