*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(https://img.wallpapersafari.com/desktop/1600/900/2/9/MB4DN7.png);
}
.grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    
}
.parte1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 500px;
    height: 400px;  
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}

.icon{
    width: 100px;
    height: 70px;
    margin: 10px;
}
h1{
    margin: 10px;
}
.user{
border: none;
width: 250px;
 margin: 10px;
 background-color:transparent;
 outline:none;
}
.pass{
    border: none;
    width: 250px;
    margin: 10px;
    outline:none;
}
a{
    
    font-size: 15px;
    margin: 5px;
}
i{
    color: rgb(103,253,157);
}
.login{
    border: none;
    margin: 10px;
    border-radius: 15px;
    width: 280px;
height: 35px;
background: rgb(135,210,81);
color: white;
font-size: 20px;

}

.linea{
    height: 2px;
    background: rgb(103,253,157);
    width: 280px;
}

.user::placeholder{
    background: white;
}

@media  screen  and (max-width : 600px) {
  .grid{
        grid-template-columns: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile{
        display: none;
    }
    .login{
        background-color:rgb(103,253,157); ;
    }
}

.user:hover{
    top: -5px;
}